*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    color: #353333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bkg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

